spring:
  application:
    name: Product-Inventory-System
  datasource:
    url: jdbc:h2:mem:productInventory;
    driver-class-name: org.h2.Driver
    username: sa
    password:

    jpa:
      hibernate:
        ddl-auto: update

      show-sql: true

      properties:
        hibernate:
          format_sql: true

    mvc:
      problemdetails:
        enabled: true

    logging:
      level:
        com.SLMS: INFO
